<!doctype html>
<html>
  <head>
    <title>Dashing</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=JetBrains Mono"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://unpkg.com/hyperscript.org@0.9.14"></script> -->
    <!-- <script src="https://unpkg.com/@codemirror/state@6.4.1/dist/index.js"></script> -->
    <!-- <script src="https://unpkg.com/@codemirror/view@6.26.3/dist/index.js"></script> -->
    <!-- <script src="https://unpkg.com/@codemirror/language@6.10.1/dist/index.js"></script> -->
    <!-- <script src="https://unpkg.com/@codemirror/lang-json@6.0.1/dist/index.js"></script> -->
    <!-- <script src="https://unpkg.com/@codemirror/theme-one-dark@6.1.2/dist/index.js"></script> -->
  </head>

  <body>
    <header class="rounded-area" id="top">
      <a
        href="/"
        id="home"
        hx-trigger="click"
        hx-select="main"
        hx-target="main"
        hx-boost="true"
        hx-swap="outerHTML"
      >
        <h1 id="server-name" hx-boost="false">{{ server_name }}</h1>
      </a>
      <a
        href="/settings"
        id="settings"
        hx-trigger="click"
        hx-select="main"
        hx-target="main"
        hx-boost="true"
        hx-swap="outerHTML"
      >
        <img src="/assets/settings.svg" hx-boost="false" />
      </a>
    </header>
    <main id="main">
      {% if is_home_route %}
      <section
        class="rounded-area main-section"
        hx-trigger="load"
        hx-get="/utils"
        hx-swap="innerHTML"
      >
        <p>Loading...</p>
      </section>
      <section
        class="rounded-area bottom-section"
        hx-trigger="load"
        hx-get="/links"
        hx-swap="innerHTML"
      >
        <p>Loading...</p>
      </section>
      <!-- for /settings to work -->
      {% else %} {% include "settings.html" %} {% endif %}
    </main>
    <footer>acmota2 © 2025</footer>
  </body>

  <style>
    {% include "style.css" %}
    {% include "header.css" %}
  </style>
</html>
