.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  gap: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.link-button .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.link-button p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.util-link-anchor:hover .link-button {
  background-color: rgba(210, 210, 210, 0.35);
  transition: background-color 0.15s;
}

.bottom-section > .util-link-anchor {
  flex: 0 1 22%;
  min-width: 150px;
}

.main-section .link-button {
  justify-content: flex-start;
}
