<li>
  <article class="settings-link">
    <div class="link-input">
      <label for="link_name" class="settings-label">Name</label>
      <input
        type="text"
        class="settings-input"
        name="link_name"
        value="{{ link.name }}"
      />
    </div>
    <div class="link-input">
      <label for="domain" class="settings-label">Domain</label>
      <input
        type="text"
        class="settings-input"
        name="domain"
        value="{{ link.link }}"
      />
    </div>
  </article>
</li>
