<li class="list-item-section">
  <fieldset class="section">
    <legend class="section-name">
      {% if section.name == "" %} New Section {% else %} {{ section.name }} {%
      endif %}
    </legend>
    <div class="section-header">
      <h3>Section name</h3>
    </div>
    <input
      value="{{ section.name }}"
      name="items[__INDEX__][section_name]"
      _="on load
           set my @name to @name.replace('__INDEX__', $itemIndex)
           increment $itemIndex
         end"
      class="settings-input"
      id="section-name-input"
    />
    <div class="section-header">
      <h3>Links</h3>
    </div>
    <ul class="link-list">
      {% for link in section.utils %} {% include "settings-link.html" %} {%
      endfor%}
    </ul>
    <button
      class="settings-button"
      id="settings-add-link"
      hx-trigger="click"
      hx-swap="beforeend"
      hx-target="previous .link-list"
      hx-get="/htmx/settings-link"
    >
      Add link
    </button>
  </fieldset>
</li>
