.util-section {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  padding: 32px;
  gap: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 10px 40px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  min-height: 0;
}

.util-section > span {
  font-size: 32px;
  font-weight: bold;
}

.link-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  overflow-y: auto;
  padding-right: 8px;
}
